<% if @user.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      The following <%= pluralize(@user.errors.count, "errors") %> are preventing
      your account from being created:
    </div>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
